/* public/assets/css/index.css */

/* IMPORT FONT*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* BACKGROUND */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.background .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.333);
    backdrop-filter: blur(13px);
    height: 100%;
    width: 100%;
}

/* BOXS */
.box-slogan {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}
.box-invitation {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}
.box-plane {
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 1px;
    z-index: 25;
}

/* SLOGAN */
.slogan {
    position: relative;
    width: 500px;
    height: 400px;
}
.slogan__item {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 50px;
}
.slogan__item {
    position: absolute;
    color: orangered;
    filter: drop-shadow(1px 1px 1px #444);
}
.slogan .slogan__item:nth-of-type(1) {
    color: white;
    font-size: 56px;
    font-weight: bolder;
    top: 169px;
    left: -25px;
    transform: rotate(-66deg);
}
.slogan .slogan__item:nth-of-type(2) {
    top: 80px;
    left: 230px;
}
.slogan .slogan__item:nth-of-type(3) {
    top: 150px;
    left: 200px;
}
.slogan .slogan__item:nth-of-type(4) {
    top: 220px;
    left: 163px;
}
.slogan .slogan__item:nth-of-type(5) {
    top: 294px;
    left: 120px;
}

/* INVITATION */
.invitation {
    position: relative;
    width: 380px;
    height: 380px;
}
.invitation__item {
    position: absolute;
    font-family: 'Kalam', cursive;
    font-size: 42px;
    filter: drop-shadow(1px 1px 1px #111);
}
.invitation__item:nth-of-type(1) {
    top: 50px;
    left: -30px;
    color: cornsilk;
    transform: rotate(-13deg);
}
.invitation__item:nth-of-type(2) {
    top: 100px;
    left: 15px;
    color: lightskyblue;
    transform: rotate(-7deg);
}
.invitation__item:nth-of-type(3) {
    top: 140px;
    left: 15px;
    color: khaki;
    transform: rotate(0deg);
}
.invitation__item:nth-of-type(4) {
    top: 180px;
    left: 15px;
    color: aquamarine;
    transform: rotate(7deg);
}
.invitation__item:nth-of-type(5) {
    top: 240px;
    left: -15px;
    color: antiquewhite;
    transform: rotate(13deg);
}

/* PLANE */
.plane {
    position: relative;
    width: 400px;
    height: 600px;
    transform-origin: center;
    z-index: 30;
}
.plane .plane__item {
    background: url("https://pngimg.com/uploads/paper_plane/paper_plane_PNG87.png") no-repeat center center;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.plane .plane__item-sm {
    width: 80px;
    height: 80px;
    transform: scaleX(-1) rotate(40deg); 
}
.plane .plane__item-sm:nth-of-type(1) {
    width: 100px;
    height: 100px;
    transform: scaleX(-1) rotate(8deg);
    margin: 0 -32px;
    animation-delay: 4s;
    animation: flight-sm-1 18s infinite ease-in-out;
}
.plane .plane__item-sm:nth-of-type(3) {
    margin: -68px -232px 0;
    animation: flight-sm-3 20s infinite ease-in-out;
}
.plane .plane__item-sm:nth-of-type(5) {
    margin: -24px -64px 0;
    transform: scaleX(-1) rotate(56deg);
    height: 80px;
    width: 80px;
    animation: flight-sm-5 12s infinite ease-in-out; 
}
.plane .plane__item-md {
    width: 140px;
    height: 140px;
    margin: 32px;
    transform: scaleX(-1) rotate(16deg); 
    animation: flight-md 5s infinite ease-in-out; 
}
.plane .plane__item-lg {
    width: 240px;
    height: 240px;
    margin: 0 80px;
    animation: flight-lg 3s infinite ease-in-out;
}

/* ANIMATIONS */
@keyframes flight-lg {
    0% {
        transform: scaleX(-1) translateY(0px) translateX(80px);
    }
    50% {
        transform: scaleX(-1.03) translateY(-3px) translateX(82px);
    }
    100% {
        transform: scaleX(-1) translateY(0px) translateX(80px);
    }
}
@keyframes flight-md {
    0% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px);
    }
    70% {
        transform: scaleX(-1) rotate(18deg) translateY(-20px);
    }
    100% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px);
    }
}
@keyframes flight-sm-5 {
    0% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px);
    }
    75% {
        transform: scaleX(-0.9) rotate(18deg) translateY(-20px);
    }
    100% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px);
    }
}
@keyframes flight-sm-3 {
    0% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px) translateX(0px);
    }
    25% {
        transform: scaleX(-1.4) rotate(25deg) translateY(80px) translateX(50px);
    }
    100% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px) translateX(0px);
    }
}
@keyframes flight-sm-1 {
    0% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px) translateX(0px);
    }
    15% {
        transform: scaleX(-1.1) rotate(8deg) translateY(-50px) translateX(-150px);
    }
    25% {
        transform: scaleX(-1.2) rotate(25deg) translateY(-60px) translateX(-100px);
    }
    65% {
        transform: scaleX(-0.8) rotate(20deg) translateY(-10px) translateX(50px);
    }
    100% {
        transform: scaleX(-1) rotate(16deg) translateY(-1px) translateX(0px);
    }
}