table {
    margin-top: 0px;
    border-radius: 7px;
    overflow: hidden;
}
.image-td {
    height: 160px;
    overflow: hidden;
    border: 4px solid white;
}
table img {
    object-fit: cover;
}
.create-post {
    margin-top: 120px;
    padding: 20px;
}
.circle-button {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 63px;
    background-color: #ff4d00;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}
.circle-button:hover {
    background-color: #00b368;
    color: black;
}
.plus-sign {
    position: absolute;
    right: 9px;
    bottom: -9px;
    font-size: 63px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}