<!-- views/index.ejs -->

<div class="background">
    <img src="https://img.freepik.com/free-vector/clouds-background_1128-39.jpg" />
    <div class="backdrop"></div>
</div>
<div class="container">
    <div class="box-plane">
        <div class="plane">
            <div class="plane__item plane__item-sm"></div>
            <div class="plane__item plane__item-lg"></div>
            <div class="plane__item plane__item-sm"></div>
            <div class="plane__item plane__item-md"></div>
            <div class="plane__item plane__item-sm"></div>
        </div>
    </div>
    <div class="box-slogan">
        <div class="slogan">
            <div class="slogan__item"> Un lugar para </div>
            <div class="slogan__item"> debatir,      </div>
            <div class="slogan__item"> pensar,       </div>
            <div class="slogan__item"> y fortalecer  </div>
            <div class="slogan__item"> los vínculos  </div>
        </div>
    </div>
    <div class="box-invitation">
        <div class="invitation">
            <div class="invitation__item"> ¿Qué esperás?     </div>
            <div class="invitation__item"> sumate...       </div>
            <div class="invitation__item"> compartí...   </div>
            <div class="invitation__item"> conocé...       </div>
            <div class="invitation__item"> nuestra comunidad </div>
        </div>
    </div>
</div>