  <section class="about">
    <h3 class="title">Sobre nosotros:</h3>
    <p>Somos una comunidad que crece cada día, somos estudiantes de distintos lugares del país que compartimos ideas y debatimos sobre nuestra democracia y como mejorarla. Estas invitad@a a formar parte de nuestra comunidad, solo tenés que registrarte, y comenzar a publicar.</p>
    <hr>
    <ul class="grid">
      <li class="small image-1 img"></li>
      <li class="large image-2 img"></li>
      <li class="large image-3 img"></li>
      <li class="small image-4 img"></li>
    </ul>
  </section>