<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/navbar') %>
        <div class="container-fluid text-center">
            <section class="container-fluid section-login">
                <div class="inner-login">

                    <img src="https://img.freepik.com/free-photo/education-students-smiling-young-asian-woman-with-backpack-notebooks-posing-against-blue-bac_1258-167786.jpg" class="image-login" alt="loginimage" />
                    
                    <div class="light-image-login"></div>
                    <form class="form-login" method="post" action="/login">
                        <div class="mb-3 row div-login">
                            <label class="col-sm-2 col-form-label label-login" for="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+.[a-z]*">Email:</label>
                            <div class="col-sm-10 inner">
                                <i class="icon-mail"></i>
                                <input class="form-control input-login" type="email" name="email" aria-describedby="emailHelp" required /><span></span>
                                <div class="form-text" id="emailHelp">
                                    <add class="add-login">
                                        *Ingrese el email con el que se registró...
                                    </add>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row div-login">
                            <label class="col-sm-2 col-form-label label-login" for="password">Contraseña:</label>
                            <div class="col-sm-10 inner">
                                <i class="icon-lock"></i>
                                <input class="form-control input-login" type="password" name="password" pattern=".{8,}" autocomplete="true" required /><span></span>
                                <div class="form-text" id="emailHelp">
                                    <add class="add-login">
                                        *Ingrese el password con el que se registró
                                    </add>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row div-register buttons-login"> 
                            <button class="btn button-login smbtn" type="submit">Login</button>
                            <a href="/" class="btn button-login smbtn">Volver</a>
                        </div>
                    </form>
                </div>
                <div id="message"><%= message %></div>
            </section>
        </div>
        <%- include('partials/footer') %>
        <script src="/assets/bootstrap/popper.min.js"></script>
        <script src="/assets/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/tools.js"></script>
    </body>
</html>