<!-- views/partials/head.ejs -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="Last-Modified" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FORO ESTUDIANTIL" />
    <link rel="icon" href="/assets/icons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/<%= templateName %>.css" />
    <title><%= title %></title>
</head>