<!-- views/partials/navbar.ejs -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark degrade">
    <div class="container-fluid wrap-elements">
        <a class="navbar-brand" href="/">
            <img src="/assets/icons/favicon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            <span><i>Foro Estudiantil</i></span>
        </a>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/posts">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users">Usuarios</a>
                </li>
            </ul>
            <%  if(templateName === 'login') {
                } else { 
                    if(!isAuthenticated) { %>
                        <a href="/login" class="btn button-in rhodochrosite shadow">Iniciar Sesión</a>
                    <% } else { %>
                        <a href="/logout" class="btn button-in bluesky shadow">Cerrar Sesión</a>
                    <% } 
                } 
            %>
        </div>
        <header class="row header">
            <h1><%= header %></h1>
        </header>
    </div>
</nav>